.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'AvenirBlack', sans-serif;
  color: $color-white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 100px;
  transition: background-color 0.3s, box-shadow 0.3s;

  @include media-breakpoint-down(sm) {
    font-size: 10px;
  }

  &:hover {
    color: $color-white;
  }
}

.button_pink {
  background: $color-pink;

  &:hover {
    @include media-breakpoint-up(lg) {
      background: $color-lighter-pink;
      box-shadow: 0px 11px 20px rgba(231, 15, 139, 0.21);
    }
  }

  &:active,
  &:focus {
    background: $color-dark-pink;
    box-shadow: none;
  }
}

.button--sm {
  width: 170px;
  height: 60px;

  @include media-breakpoint-down(sm) {
    width: 150px;
    height: 45px;
  }
}
