.section-posters {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  .posters-slider-wrapper {
    overflow: hidden;
    padding-bottom: 60px;

    @include media-breakpoint-down(sm) {
      padding-bottom: 30px;
      position: relative;
    }
    @include media-breakpoint-down(xs) {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
    }
  }

  .posters-slider {
    overflow: visible;

    @include media-breakpoint-down(sm) {
      position: static;
    }
  }

  .poster__image {
    position: relative;
    height: 500px;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      height: 50vw;
    }

    @include media-breakpoint-down(sm) {
      height: 0;
      padding-bottom: 64%;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);

      @include media-breakpoint-down(sm) {
        height: 100%;
        width: auto;
      }
    }
  }

  .poster-slide {
    position: relative;
  }

  .poster__body {
    position: absolute;
    right: 60px;
    bottom: -60px;
    padding: 40px;
    color: $color-white;
    min-width: 330px;

    @include media-breakpoint-down(md) {
      padding: 20px;
      min-width: 300px;
    }

    @include media-breakpoint-down(sm) {
      position: static;
      min-width: auto;
    }

    .button {
      @include media-breakpoint-down(md) {
        width: 100px;
        height: 40px;
        font-size: 10px;
      }
    }
  }

  .poster__title {
    font-family: $font-title;
    font-size: 30px;
    line-height: 1.4em;
    letter-spacing: 1px;
    margin-bottom: 65px;

    @include media-breakpoint-down(md) {
      font-size: 24px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 18px;
      line-height: 1.39em;
      margin-bottom: 45px;

      br {
        display: none;
      }
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 20px;
    }
  }

  .posters-slider-pagination {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .posters-slider-button {
    width: 60px;
    height: 100%;
    border-radius: 0;
    top: 0;
    margin-top: 0;
    background: rgba($color-dark-black, 0.2);

    @include media-breakpoint-up(md) {
      display: flex;
    }

    &:hover {
      @include media-breakpoint-up(lg) {
        background: rgba($color-dark-black, 0.45);
      }
    }
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-disabled {
    opacity: 0;
  }

  .swiper-slide {
    &:nth-child(3n + 1) .poster__body {
      background: $color-pink;
    }

    &:nth-child(3n + 2) .poster__body {
      background: $color-yellow-second;
    }

    &:nth-child(3n + 3) .poster__body {
      background: $color-dark-blue;
    }
  }

  .swiper-slide {
    &:nth-child(3n + 1) .button {
      &:hover {
        @include media-breakpoint-up(lg) {
          color: $color-pink;
          background: $color-white;
          box-shadow: inset 0 0 0 2px $color-white;
        }
      }
      &:active,
      &:focus {
        color: $color-white;
        background: $color-dark-pink;
        box-shadow: inset 0 0 0 2px $color-dark-pink;
      }
    }

    &:nth-child(3n + 2) .button {
      &:hover {
        @include media-breakpoint-up(lg) {
          color: $color-yellow-second;
          background: $color-white;
          box-shadow: inset 0 0 0 2px $color-white;
        }
      }
      &:active,
      &:focus {
        color: $color-white;
        background: $color-dark-yellow;
        box-shadow: inset 0 0 0 2px $color-dark-yellow;
      }
    }

    &:nth-child(3n + 3) .button {
      &:hover {
        @include media-breakpoint-up(lg) {
          color: $color-dark-blue;
          background: $color-white;
          box-shadow: inset 0 0 0 2px $color-white;
        }
      }
      &:active,
      &:focus {
        color: $color-white;
        background: $color-extra-dark-blue;
        box-shadow: inset 0 0 0 2px $color-extra-dark-blue;
      }
    }
  }

  .posters-slider-pagination {
    bottom: 0;
    font-size: 0;
  }

  .swiper-pagination-bullet {
    &:nth-child(3n + 1).swiper-pagination-bullet-active {
      background: $color-pink;
    }
    &:nth-child(3n + 2).swiper-pagination-bullet-active {
      background: $color-yellow-second;
    }
    &:nth-child(3n + 3).swiper-pagination-bullet-active {
      background: $color-dark-blue;
    }
  }
}
