@font-face {
  font-family: 'Paloseco';
  src: url('../../public//fonts/Paloseco/Paloseco-Medium.ttf');
}

@font-face {
  font-family: 'AvenirBook';
  src: url('../../public/fonts/Avenir/Avenir-Book.ttf');
}

@font-face {
  font-family: 'AvenirHeavy';
  src: url('../../public/fonts/Avenir/Avenir-Heavy.ttf');
}

@font-face {
  font-family: 'AvenirLight';
  src: url('../../public/fonts/Avenir/Avenir-Light.ttf');
}

@font-face {
  font-family: 'AvenirMedium';
  src: url('../../public/fonts/Avenir/Avenir-Medium.ttf');
}

@font-face {
  font-family: 'AvenirBlack';
  src: url('../../public/fonts/Avenir/Avenir-Black.ttf');
}
