// colors

$color-black: #000000;
$color-white: #ffffff;
$color-dark-black: #030708;
$body-color: $color-dark-black;
$color-light-pink: #f2a8c9;
$color-pink: #e9098d;
$color-lighter-pink: #f60e97;
$color-medium-pink: #e70f8b;
$color-dark-pink: #952160;
$color-extra-light-blue: #f3f9fe;
$color-light-blue: #d4e7ee;
$color-blue: #9edff5;
$color-medium-blue: #4ecaf3;
$color-dark-blue: #3bc4f2;
$color-extra-dark-blue: #0d83a1;
$color-yellow: #f9d20b;
$color-yellow-second: #fbd10f;
$color-light-yellow: #f9ef98;
$color-dark-yellow: #cdaa2c;
$color-light-gray: #e1e1e1;

// fonts

$font-title: 'Paloseco', sans-serif;

//grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1920px
);
